@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}

/* Custom Scrollbar for the Code Area */
textarea::-webkit-scrollbar {
  width: 8px;
}
textarea::-webkit-scrollbar-track {
  background: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}